.footer-section {
  background: #a60000;
  color: white;
  padding: 60px 0 30px;
}

.footer-logo {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.footer-section h5 {
  margin-bottom: 20px;
  color: white;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
}

.footer-bottom {
  background: #b71c1c;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

.footer-section p {
  color: white;
  line-height: 1.8;
}