
.todoItem {
    width: 500px;
    text-align: center;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}
.todoItemName {
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding: 20px;
}
.hrLine {
    border: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    margin: 0;
}
.deleteButton {
    background-color: #f7ce18;
    border: 1px solid #f0f0f0;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    color: white;
    margin: -5px 0;
}
.completed {
    text-decoration: line-through;
    color: #888888;
}